body {
  margin: 0;
}



.leaflet-container {
  width: 1200px;
  height: 600px;
}


.incident-leaflet-container {
  width: 1500px;
  height: 600px;
}

.spinner {
  display: block;
  margin-top: 190px;
  margin-left: 500px;
  margin-right: auto;
  margin-bottom: auto;
  width: 40%;


}